label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: black;
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "-";
}
#toggle1:checked ~ #expand {
  height: 250px;
}
#toggle1:checked ~ label::before {
  content: "-";
}
#toggle2:checked ~ #expand {
  height: 250px;
}
#toggle2:checked ~ label::before {
  content: "-";
}
#toggle3:checked ~ #expand {
  height: 250px;
}
#toggle3:checked ~ label::before {
  content: "-";
}
#toggle4:checked ~ #expand {
  height: 250px;
}
#toggle4:checked ~ label::before {
  content: "-";
}
#toggle5:checked ~ #expand {
  height: 250px;
}
#toggle5:checked ~ label::before {
  content: "-";
}
#toggle6:checked ~ #expand {
  height: 250px;
}
#toggle6:checked ~ label::before {
  content: "-";
}
#toggle7:checked ~ #expand {
  height: 250px;
}
#toggle7:checked ~ label::before {
  content: "-";
}
#toggle8:checked ~ #expand {
  height: 250px;
}
#toggle8:checked ~ label::before {
  content: "-";
}
#toggle9:checked ~ #expand {
  height: 250px;
}
#toggle9:checked ~ label::before {
  content: "-";
}
